body {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border: 1px solid red;
    height: 500px;
    width: 400px;
    padding: 5px;
}

.display {
    margin: 15px 5px 15px 5px;
    height: 40px;
    width: 380px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 30px;
    text-align: right;
    padding: 3px;
}

.operators {
    float: right;
    height: 325px;
    width: 100px;
}

.operators button {
    width: 90px;
    height: 75px;
    margin: 2px;
    border-radius: 5px;
    font-size: 20px;
}

.numbers {
    float: left;
    clear: both;
    display: inline-block;
    height: 325px;
    width: 290px;
}

.numbers button {
    width: 90px;
    height: 75px;
    margin: 2px;
    font-size: 20px;
    border-radius: 5px;
}

.clear {
    float: left;
    clear: both;
    font-size: 20px;
    width: 90px;
    height: 75px;
    margin: 2px;
    margin-bottom: 8px;
    border-radius: 5px;
    
}

.backspace {
    float: left;
    font-size: 20px;
    width: 90px;
    height: 75px;
    margin: 2px;
    margin-left: 6px;
    margin-bottom: 8px;
    border-radius: 5px;
    
}